In [164]:
import numpy as np
import pandas as pd

In [165]:
df_train = pd.read_csv("./input/pose_angle_test.csv")

In [166]:
df_train.head()

,x_0,y_0,score_0,x_1,y_1,score_1,x_2,y_2,score_2,x_3,...,x_22,y_22,score_22,x_23,y_23,score_23,x_24,y_24,score_24,angle
0,179.76530,60.258244,0.939276,180.39920,74.525390,0.850736,169.99663,74.529175,0.809395,166.10310,...,175.84912,169.35298,0.531282,173.87663,168.70683,0.524592,179.09890,168.04233,0.621106,0.0
1,179.77000,60.267480,0.938724,180.40907,74.522255,0.851064,170.00713,74.533250,0.823045,166.11751,...,175.20096,169.38358,0.516036,172.61047,168.72954,0.525205,179.10825,168.68027,0.694225,0.0
2,179.78280,60.261524,0.928379,180.40228,74.516790,0.843911,169.99840,74.530780,0.818879,165.47404,...,175.85600,169.38922,0.544642,173.24898,169.33330,0.566953,179.11185,168.67523,0.715459,0.0
3,180.40729,60.253990,0.913265,180.39053,73.890390,0.852116,169.37404,73.899300,0.814654,164.81367,...,176.49518,169.38768,0.504813,173.25194,169.33595,0.529983,179.11575,168.67534,0.694016,0.0
4,181.04353,60.265160,0.893009,181.68724,73.891525,0.812719,170.66028,73.247660,0.785594,166.76718,...,174.53969,170.00818,0.542894,171.96147,169.33696,0.546907,179.12080,168.69398,0.684557,0.0

In [167]:
pd.set_option('display.max_rows', 500)
df_train[(df_train['x_17'] == 0) & (df_train['x_18'] == 0) & (df_train['x_0'] == 0)].count()

x_0         0
y_0         0
score_0     0
x_1         0
y_1         0
score_1     0
x_2         0
y_2         0
score_2     0
x_3         0
y_3         0
score_3     0
x_4         0
y_4         0
score_4     0
x_5         0
y_5         0
score_5     0
x_6         0
y_6         0
score_6     0
x_7         0
y_7         0
score_7     0
x_8         0
y_8         0
score_8     0
x_9         0
y_9         0
score_9     0
x_10        0
y_10        0
score_10    0
x_11        0
y_11        0
score_11    0
x_12        0
y_12        0
score_12    0
x_13        0
y_13        0
score_13    0
x_14        0
y_14        0
score_14    0
x_15        0
y_15        0
score_15    0
x_16        0
y_16        0
score_16    0
x_17        0
y_17        0
score_17    0
x_18        0
y_18        0
score_18    0
x_19        0
y_19        0
score_19    0
x_20        0
y_20        0
score_20    0
x_21        0
y_21        0
score_21    0
x_22        0
y_22        0
score_22    0
x_23        0
y_23        0
score_23    0
x_24        0
y_24        0
score_24    0
angle       0
dtype: int64

In [168]:
df_train[df_train==0.0].count()

x_0         335
y_0         335
score_0     335
x_1           0
y_1           0
score_1       0
x_2           0
y_2           0
score_2       0
x_3          70
y_3          70
score_3      70
x_4         102
y_4         102
score_4     102
x_5           0
y_5           0
score_5       0
x_6          50
y_6          50
score_6      50
x_7         179
y_7         179
score_7     179
x_8           0
y_8           0
score_8       0
x_9           1
y_9           1
score_9       1
x_10          1
y_10          1
score_10      1
x_11          1
y_11          1
score_11      1
x_12          0
y_12          0
score_12      0
x_13          0
y_13          0
score_13      0
x_14          0
y_14          0
score_14      0
x_15        398
y_15        398
score_15    398
x_16        690
y_16        690
score_16    690
x_17        442
y_17        442
score_17    442
x_18        214
y_18        214
score_18    214
x_19          7
y_19          7
score_19      7
x_20         29
y_20         29
score_20     29
x_21          1
y_21          1
score_21      1
x_22         12
y_22         12
score_22     12
x_23         32
y_23         32
score_23     32
x_24          2
y_24          2
score_24      2
angle       106
dtype: int64

In [169]:
angle = df_train.pop("angle")
df_tmp = df_train.replace(0.0,np.nan)
df_tmp["angle"] = angle

In [170]:
df_tmp.isnull().sum()

x_0         335
y_0         335
score_0     335
x_1           0
y_1           0
score_1       0
x_2           0
y_2           0
score_2       0
x_3          70
y_3          70
score_3      70
x_4         102
y_4         102
score_4     102
x_5           0
y_5           0
score_5       0
x_6          50
y_6          50
score_6      50
x_7         179
y_7         179
score_7     179
x_8           0
y_8           0
score_8       0
x_9           1
y_9           1
score_9       1
x_10          1
y_10          1
score_10      1
x_11          1
y_11          1
score_11      1
x_12          0
y_12          0
score_12      0
x_13          0
y_13          0
score_13      0
x_14          0
y_14          0
score_14      0
x_15        398
y_15        398
score_15    398
x_16        690
y_16        690
score_16    690
x_17        442
y_17        442
score_17    442
x_18        214
y_18        214
score_18    214
x_19          7
y_19          7
score_19      7
x_20         29
y_20         29
score_20     29
x_21          1
y_21          1
score_21      1
x_22         12
y_22         12
score_22     12
x_23         32
y_23         32
score_23     32
x_24          2
y_24          2
score_24      2
angle         0
dtype: int64

In [171]:
df = df_tmp.copy()
class_ = df[["angle"]]
class_names = df.groupby("angle").groups.keys()
for name in class_names:
     df_tmp = df[(df['angle'] == name)].drop(columns=['angle'])
     df_tmp = df_tmp.fillna(method="ffill", limit=3)
     df_tmp["angle"] = class_
     df[(df['angle'] == name)] =  df_tmp

In [172]:
df.isnull().sum()

x_0         326
y_0         326
score_0     326
x_1           0
y_1           0
score_1       0
x_2           0
y_2           0
score_2       0
x_3          37
y_3          37
score_3      37
x_4          55
y_4          55
score_4      55
x_5           0
y_5           0
score_5       0
x_6          16
y_6          16
score_6      16
x_7          92
y_7          92
score_7      92
x_8           0
y_8           0
score_8       0
x_9           0
y_9           0
score_9       0
x_10          0
y_10          0
score_10      0
x_11          0
y_11          0
score_11      0
x_12          0
y_12          0
score_12      0
x_13          0
y_13          0
score_13      0
x_14          0
y_14          0
score_14      0
x_15        347
y_15        347
score_15    347
x_16        690
y_16        690
score_16    690
x_17        409
y_17        409
score_17    409
x_18        192
y_18        192
score_18    192
x_19          0
y_19          0
score_19      0
x_20          1
y_20          1
score_20      1
x_21          0
y_21          0
score_21      0
x_22          0
y_22          0
score_22      0
x_23          0
y_23          0
score_23      0
x_24          0
y_24          0
score_24      0
angle         0
dtype: int64

In [173]:
# df= df.fillna(0)

In [174]:
df.to_csv("./input/pose_angle_test_ffill.csv",index=False)

In [175]:
df[df==0.0].count()

x_0           0
y_0           0
score_0       0
x_1           0
y_1           0
score_1       0
x_2           0
y_2           0
score_2       0
x_3           0
y_3           0
score_3       0
x_4           0
y_4           0
score_4       0
x_5           0
y_5           0
score_5       0
x_6           0
y_6           0
score_6       0
x_7           0
y_7           0
score_7       0
x_8           0
y_8           0
score_8       0
x_9           0
y_9           0
score_9       0
x_10          0
y_10          0
score_10      0
x_11          0
y_11          0
score_11      0
x_12          0
y_12          0
score_12      0
x_13          0
y_13          0
score_13      0
x_14          0
y_14          0
score_14      0
x_15          0
y_15          0
score_15      0
x_16          0
y_16          0
score_16      0
x_17          0
y_17          0
score_17      0
x_18          0
y_18          0
score_18      0
x_19          0
y_19          0
score_19      0
x_20          0
y_20          0
score_20      0
x_21          0
y_21          0
score_21      0
x_22          0
y_22          0
score_22      0
x_23          0
y_23          0
score_23      0
x_24          0
y_24          0
score_24      0
angle       106
dtype: int64