In [176]:
import sys
import cv2
import os
from sys import platform
import argparse
import pickle
import numpy as np
import pandas as pd

In [177]:
with open('poses_tread.pickle', 'rb') as f:
  outdata = pickle.load(f)

In [178]:
len(outdata)

8

In [179]:
type(outdata)

list

In [180]:
angle_seq = (0, 30, 60, 90, -90, -120, -150, -180)
columns = []
for i in range(25):
    columns.append(f"x_{i}")
    columns.append(f"y_{i}")
    columns.append(f"score_{i}")
df = pd.DataFrame(index=[], columns=columns)
df

Empty DataFrame
Columns: [x_0, y_0, score_0, x_1, y_1, score_1, x_2, y_2, score_2, x_3, y_3, score_3, x_4, y_4, score_4, x_5, y_5, score_5, x_6, y_6, score_6, x_7, y_7, score_7, x_8, y_8, score_8, x_9, y_9, score_9, x_10, y_10, score_10, x_11, y_11, score_11, x_12, y_12, score_12, x_13, y_13, score_13, x_14, y_14, score_14, x_15, y_15, score_15, x_16, y_16, score_16, x_17, y_17, score_17, x_18, y_18, score_18, x_19, y_19, score_19, x_20, y_20, score_20, x_21, y_21, score_21, x_22, y_22, score_22, x_23, y_23, score_23, x_24, y_24, score_24]
Index: []

[0 rows x 75 columns]

In [181]:
for i, angle in enumerate(outdata):
    for j ,points in  enumerate(angle):
        tmp = np.squeeze(points)
        tmp = tmp.flatten()
        tmp = pd.DataFrame(tmp,index=columns).T
        tmp = tmp.reset_index(drop=True)
        tmp["angle"] = angle_seq[i]
        df = df.append(tmp).reset_index(drop=True)

In [182]:
df.head(10)

,x_0,y_0,score_0,x_1,y_1,score_1,x_2,y_2,score_2,x_3,...,x_22,y_22,score_22,x_23,y_23,score_23,x_24,y_24,score_24,angle
0,182.353302,60.269341,0.871724,183.639481,73.891975,0.833996,173.237579,73.896599,0.790739,168.683701,...,179.095459,169.357529,0.471520,174.540817,168.729965,0.458224,177.140808,168.052383,0.542639,0.0
1,182.342804,60.281353,0.870348,183.620255,74.532700,0.837600,172.607056,75.151443,0.803291,168.688492,...,179.760101,169.332993,0.507446,175.202393,168.720779,0.481383,177.148117,167.414505,0.556000,0.0
2,181.690430,60.893658,0.866105,182.352280,75.151115,0.834443,171.946198,75.164474,0.794193,167.411163,...,180.410202,169.351212,0.599240,176.496094,169.351074,0.563478,176.504333,168.043457,0.594209,0.0
3,181.045670,60.898701,0.873584,182.337708,75.151291,0.837025,171.302338,75.154556,0.791414,166.753464,...,179.771698,169.362854,0.602678,175.844131,169.354782,0.570401,176.507233,168.060898,0.612454,0.0
4,180.406891,60.273495,0.906316,181.706726,75.158745,0.844850,170.652420,75.151695,0.796279,166.755402,...,180.392227,169.369308,0.609227,175.863342,169.368134,0.577274,177.796112,168.068115,0.625153,0.0
5,180.407379,60.263298,0.907536,181.690689,75.150734,0.837353,170.029037,74.546577,0.798836,166.763000,...,179.088303,169.370255,0.624835,174.568512,169.342728,0.608248,178.435913,168.058563,0.623166,0.0
6,180.390945,60.264008,0.911967,181.062180,75.155334,0.838591,170.016861,75.159996,0.808154,167.400085,...,178.428802,169.378387,0.561727,174.529953,169.340088,0.570129,178.457062,168.684448,0.636845,0.0
7,179.768158,60.254715,0.927878,180.393890,73.898659,0.847682,169.382294,73.896027,0.806415,165.456345,...,177.810104,169.338852,0.561509,174.529922,168.708282,0.551894,179.083832,168.039062,0.606018,0.0
8,179.765305,60.258244,0.939276,180.399200,74.525391,0.850736,169.996628,74.529175,0.809395,166.103104,...,175.849121,169.352982,0.531282,173.876633,168.706833,0.524592,179.098907,168.042328,0.621106,0.0
9,179.770004,60.267479,0.938724,180.409073,74.522255,0.851064,170.007126,74.533249,0.823045,166.117508,...,175.200958,169.383575,0.516036,172.610474,168.729538,0.525205,179.108246,168.680267,0.694225,0.0

In [183]:
df.to_csv("./pose_angle_train.csv",index=False)