In [1]:
import sys
import cv2
import os
from sys import platform
import argparse
import pickle
import numpy as np
import pandas as pd

In [2]:
with open('poses_tread.pickle', 'rb') as f:
  outdata = pickle.load(f)

In [5]:
angle_seq = (0, 30, 60, 90, -90, -120, -150, -180)
columns = []
for i in range(25):
    columns.append(f"x_{i}")
    columns.append(f"y_{i}")
    columns.append(f"score_{i}")
df = pd.DataFrame(index=[], columns=columns)
df

Empty DataFrame
Columns: [x_0, y_0, score_0, x_1, y_1, score_1, x_2, y_2, score_2, x_3, y_3, score_3, x_4, y_4, score_4, x_5, y_5, score_5, x_6, y_6, score_6, x_7, y_7, score_7, x_8, y_8, score_8, x_9, y_9, score_9, x_10, y_10, score_10, x_11, y_11, score_11, x_12, y_12, score_12, x_13, y_13, score_13, x_14, y_14, score_14, x_15, y_15, score_15, x_16, y_16, score_16, x_17, y_17, score_17, x_18, y_18, score_18, x_19, y_19, score_19, x_20, y_20, score_20, x_21, y_21, score_21, x_22, y_22, score_22, x_23, y_23, score_23, x_24, y_24, score_24]
Index: []

[0 rows x 75 columns]

In [6]:
for i, angle in enumerate(outdata):
    for j ,points in  enumerate(angle):
        tmp = np.squeeze(points)
        tmp = tmp.flatten()
        tmp = pd.DataFrame(tmp,index=columns).T
        tmp = tmp.reset_index(drop=True)
        tmp["angle"] = angle_seq[i]
        df = df.append(tmp).reset_index(drop=True)

In [7]:
df.head(10)

,x_0,y_0,score_0,x_1,y_1,score_1,x_2,y_2,score_2,x_3,...,x_22,y_22,score_22,x_23,y_23,score_23,x_24,y_24,score_24,angle
0,179.765305,60.258244,0.939276,180.399200,74.525391,0.850736,169.996628,74.529175,0.809395,166.103104,...,175.849121,169.352982,0.531282,173.876633,168.706833,0.524592,179.098907,168.042328,0.621106,0.0
1,179.770004,60.267479,0.938724,180.409073,74.522255,0.851064,170.007126,74.533249,0.823045,166.117508,...,175.200958,169.383575,0.516036,172.610474,168.729538,0.525205,179.108246,168.680267,0.694225,0.0
2,179.782806,60.261524,0.928379,180.402283,74.516792,0.843911,169.998398,74.530777,0.818879,165.474045,...,175.856003,169.389221,0.544642,173.248978,169.333298,0.566953,179.111847,168.675232,0.715459,0.0
3,180.407288,60.253990,0.913265,180.390533,73.890388,0.852116,169.374039,73.899300,0.814654,164.813675,...,176.495178,169.387680,0.504813,173.251938,169.335953,0.529983,179.115753,168.675339,0.694016,0.0
4,181.043533,60.265160,0.893009,181.687241,73.891525,0.812719,170.660278,73.247658,0.785594,166.767181,...,174.539688,170.008179,0.542894,171.961472,169.336960,0.546907,179.120804,168.693985,0.684557,0.0
5,182.352676,60.260765,0.886762,181.711166,73.872414,0.796525,171.307785,73.228622,0.773108,166.768906,...,174.565140,169.365677,0.525948,173.233063,168.710602,0.519151,179.111771,168.050888,0.648140,0.0
6,183.007446,60.243122,0.900615,182.981415,74.528130,0.814823,171.945587,73.884613,0.764365,166.106842,...,173.922089,170.000519,0.505714,171.960693,168.734406,0.500620,179.120392,168.677094,0.652970,0.0
7,184.262909,60.270458,0.913929,183.630402,74.539520,0.833832,173.230408,73.893890,0.782113,168.043594,...,173.889465,169.996674,0.577521,171.299362,168.724792,0.575713,179.115326,168.070511,0.657117,0.0
8,184.301956,60.910088,0.921918,183.643661,75.150688,0.863721,173.246902,74.544930,0.828093,168.045563,...,173.898483,170.668381,0.481159,171.945435,169.359741,0.502401,179.729080,168.686005,0.620383,0.0
9,184.947647,61.539082,0.906110,184.292618,75.165985,0.910122,173.891190,75.153305,0.846450,168.060410,...,173.894241,170.028854,0.549299,171.942184,169.337631,0.563066,179.728180,168.686111,0.652289,0.0

In [8]:
df.to_csv("./input/pose_angle_test.csv",index=False)